﻿@model IEnumerable<http5204_blog_aspcore.Models.Tag>
@{
    ViewBag.Title = "Tags";
}
<div class="banner" id="tagbanner">
    <h2>Tags</h2>
</div>
<div class="recadd">
    @Html.ActionLink("New Tag", "New", "Tag")
</div>
<div style="overflow:hidden;margin-top:10px;">
    @foreach (var tag in Model)
    {
        <div class="colorbox" style="background:#@tag.TagColor;">
            @Html.ActionLink(tag.TagName, "Edit/" + tag.TagID, "Tag")
        </div>
    }
</div>
