﻿
@{
    ViewBag.Title = "New";
}

<h2>New Tag</h2>

<form method="POST" action="/Tag/Create">
    <div class="inprow">
        <div class="inplabel">Name:</div>
        <input type="text" id="TagName_New" name="TagName_New"/>
    </div>
    <div class="inprow">
        <div class="inplabel">Color <span class="colorbox" id="colordemo">&nbsp;</span></div>
        <select id="TagColor_New" name="TagColor_New" onchange="ColorPick(this,'colordemo','TagName_New');">
            <option value="e74c3c">Red</option>
            <option value="9b59b6">Purple</option>
            <option value="2980b9">Dark Blue</option>
            <option value="3498db">Light Blue</option>
            <option value="1abc9c">Green</option>
            <option value="d68910">Orange</option>
            <option value="2e4053">Navy</option>
        </select>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit"/>
    </div>


</form>