﻿@model http5204_blog_aspcore.Models.Tag
@{
    ViewBag.Title = "Show";
}

<h2 style="background:#@Model.TagColor; color:white; padding:6px 0; text-align:center;">@Model.TagName</h2>
@Html.ActionLink("Edit","Edit/"+Model.TagID, "Tag")

<h3>Pages about @Model.TagName</h3>
@foreach (var pxt in Model.pagesxtags)
{
    <span class="recitem">@Html.ActionLink(pxt.Page.PageTitle, "Show/" + pxt.Page.PageID, "Page")</span>

}