﻿@model http5204_blog_aspcore.Models.ViewModels.PageEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.Page.PageTitle</h2>

<form method="POST" action="/Page/Edit/@Model.Page.PageID">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input type="text" value="@Model.Page.PageTitle" id="PageTitle" name="PageTitle" />
    </div>
    <div class="inprow">
        <div class="inplabel">Blog</div>
        <select id="PageBlog" name="PageBlog">
            @foreach(var Blog in Model.Blogs)
            {
                string current = "false";
                @if(Blog.BlogID == Model.Page.Blog.BlogID)
                {
                    current = "true";
                }
                
                <option value="@Blog.BlogID" selected="@current">@Blog.BlogTitle</option>
            }

        </select>
    </div>
    <div class="inprow" id="colortags">
        <div class="inplabel">Page Tags:</div>
        @foreach (var Tag in Model.Tags)
        { //Loops through all tags in the database
            string selected = "";
            string neg_selected = "checked";
            //Check to see if any of these tags are applied to this page
            if (Model.Page.pagesxtags.Exists(pxt=>pxt.Tag==Tag))
            {
                selected = "checked";
                neg_selected = "";
                //html attribute on a checkbox for default check
            }
            <label>
                
                <input type="checkbox"
                       name="PageTags"
                       value="@Tag.TagID" 
                       @selected
                       onchange="var val = (this.checked) ? false : true; document.getElementById('Removed_PageTag_'+@Tag.TagID).checked=val;"/>
                @Tag.TagName
            </label>

            <!-- The natural HTML checkbox interface is a little skimpy
                so here's a bit
                of a clever trick for REMOVING tags from pages.
                build a "negative" checkbox list, so that when items are unchecked,
                we send a second list of items to remove.
                comment out the display:none; to see visually of how it works
                -->
            <label style="display:none;">
                @Tag.TagName
                <input 
                       type="checkbox" 
                       name="Removed_PageTags" 
                       id="Removed_PageTag_@Tag.TagID" 
                       value="@Tag.TagID"
                       @neg_selected/>
            </label>
        }
    </div>
    <div class="inprow">
        <div class="inplabel">Content</div>
        <textarea id="PageContent" name="PageContent">@Model.Page.PageContent</textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>