﻿@model IEnumerable<http5204_blog_aspcore.Models.Page>
@{


    ViewBag.Title = "List";
}

<div class="banner" id="pagebanner">
    <h2>Pages</h2>
</div>
<div class="recadd">
    @{
        //User Switching Logic
        //UserState
        //0 => No User
        //1 => has user has no author
        //2 => has user has author but no blogs
        //3 => has user has author and at least 1 blog
        switch (ViewData["UserState"]) {
            case 0: { @Html.ActionLink("Register An Account", "Register", "Account"); break; }
            case 1: { @Html.ActionLink("Become a Writer!", "Create", "Author"); break; }
            case 2: { @Html.ActionLink("Tell Your Story.", "New","Blog"); break; }
            case 3: { @Html.ActionLink("Write a Page!", "New", "Page");break; }


        }
    }
</div>
<div class="reccontainer">
<div id="paginate">
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "List",
        "Page",
        new { pagenum = ((int)ViewData["pagenum"] - 1) }
        )
    |
    @Html.ActionLink("Next",
        "List",
        "Page",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
    )
</div>
@foreach (var Page in Model)
        {

    <div class="rec">
        
        <div class="recprofile">
            <div class="img-container">
                @if (Page.Blog.Author.HasPic == 1)
                {
                    <img src="~/images/authors/@(Page.Blog.Author.AuthorID).@(Page.Blog.Author.ImgType)" />
                }
                else
                {
                    <img src="~/images/authors/default.jpg" />
                }
            </div>
            <span class="img-caption">@Page.Blog.Author.AuthorPenName</span>
        </div>
        <div class="recbody">
            <label>@Html.ActionLink(Page.PageTitle, "Show", "Page", new { id = Page.PageID })</label>
            <label id="authorname_subhead">By @Page.Blog.Author.AuthorPenName</label>
            <div style="overflow:hidden;">
                @foreach (var pxt in Page.pagesxtags)
                {
                    <span style="background:#@pxt.Tag.TagColor; margin-bottom:5px;" class="colorbox">@Html.ActionLink(pxt.Tag.TagName, "Show/"+pxt.Tag.TagID, "Tag")</span>

                }
            </div>
            <p>@Page.PageContent</p>
            <span class="del">
                <a href="@Url.Action("Delete/"+Page.PageID)"><i class="far fa-trash-alt"></i></a>
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
    
}
</div>