﻿@model http5204_blog_aspcore.Models.Page
@{
    ViewBag.Title = "Show";
}

<h2>@Model.PageTitle</h2>
<div style="overflow:hidden;">
    @foreach (var pxt in Model.pagesxtags)
    {
        <span style="background:#@pxt.Tag.TagColor" class="colorbox">@Html.ActionLink(pxt.Tag.TagName, "Show/" + pxt.Tag.TagID, "Tag")</span>

    }
</div>
<div class="promptlink">
    @{ 
        if ((bool)ViewData["IsUserPageOwner"])
        {
            @Html.ActionLink("Edit your Page","Edit","Page", new {id=Model.PageID});
        }
    }
</div>
<div>
    <div class="pagecolumn">
        <article class="pagecontent">
            <p>@Model.PageContent</p>
        </article>
    </div>
    <div class="authorcolumn">
        <aside class="img-container">
            @{
                string imgpath = "";
            }
            @if (Model.Blog.Author.HasPic == 1)
            {
                <img src="~/images/authors/@(Model.Blog.Author.AuthorID).@(Model.Blog.Author.ImgType)" />
            }
            else
            {
                <img src="~/images/authors/default.jpg" />
            }
            
        </aside>
        <span>Written By: @Html.ActionLink(Model.Blog.Author.AuthorPenName,"Details/"+Model.Blog.Author.AuthorID,"Author")</span>
    </div>
    <div class="clearfix"></div>
</div>
