﻿@model http5204_blog_aspcore.Models.Blog
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/Blog/Edit/@Model.BlogID">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input type="text" value="@Model.BlogTitle" id="BlogTitle" name="BlogTitle" />
    </div>
    <div class="inptrow">
        @{
            //new functionality
        }

        <input type="hidden" name="BlogAuthor" value="@Model.AuthorID" />


        @{ /*old
          <label class="inplabel">Author</label>
          <select id="BlogAuthor" name="BlogAuthor">
              @foreach (var Author in Model.Authors)
              {
                  string current = "false";
                  @if (Author.AuthorID == Model.Blog.Author.AuthorID)
                  {
                      current = "true"; 
                  }
                  <option value="@Author.AuthorID" selected="@current">
                      @Author.AuthorFName @Author.AuthorLName aka @Author.AuthorPenName
                  </option>
              }
          </select>
          */
        }
    </div>
    <div class="inprow">
        <div class="inplabel">Content</div>
        <textarea id="BlogBio" name="BlogBio">@Model.BlogBio</textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>


    