﻿@model IEnumerable<http5204_blog_aspcore.Models.Blog>

@{
    ViewBag.Title = "List";
}
<div class="banner" id="blogbanner">
    <h2>Blogs</h2>
</div>
<div class="recadd">
    @{ 
        /*
        //UserState
            //0 => No User
            //1 => has user has no author
            //2 => has user has author but no blogs
            //3 => has user has author and at least 1 blog
        */

        switch (ViewData["UserState"])
        {
            case 0: @Html.ActionLink("Sign Up!", "Register", "Account"); break;
            case 1: @Html.ActionLink("Join Us","Author","Create"); break;
            case 2: @Html.ActionLink("Create a Blog","Blog","New"); break;

        }

    }
</div>
<div class="reccontainer" style="overflow:hidden;">
    <div id="paginate">@ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "List",
        "Blog",
        new { pagenum= ((int)ViewData["pagenum"]-1)}
        ) 
    |
    @Html.ActionLink("Next",
        "List",
        "Blog",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
    </div>
    @foreach (var blog in Model)
        {
        <div class="rec">
            
            <div class="recprofile">
                <div class="img-container">


                    @if (blog.Author.HasPic == 1)
        {
                        <img src="~/images/authors/@(blog.Author.AuthorID).@(blog.Author.ImgType)" />
                    }
                    else
                    {
                        <img src="~/images/authors/default.jpg" />
                    }
                    
                </div> 
                <span class="img-caption">@blog.Author.AuthorPenName</span>
            </div>
            <div class="recbody">
                <label>@Html.ActionLink(blog.BlogTitle, "Show/" + blog.BlogID)</label>
                
                <p>@blog.BlogBio</p>
                @if(blog.AuthorID == (int)ViewData["UserAuthorID"]) {
                    <span class="del">
                        <a href="@Url.Action("Delete" , "Blog", new { id = blog.BlogID })"><i class="far fa-trash-alt"></i></a>
                    </span>
                }
            </div>
            <div class="clearfix"></div>
        </div>

    }
</div>
