﻿@model http5204_blog_aspcore.Models.ViewModels.BlogEdit
@{
    ViewBag.Title = "New";
}

<h2>New Blog</h2>

<form method="POST" action="/Blog/Create">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="BlogTitle_New" name="BlogTitle_New" />
    </div>
    <div class="inptrow">
        @{ 
            //new functionality
        }
        <input type="hidden" name="BlogAuthor_New" value="@ViewData["UserAuthorID"]"/>
    </div>
    <div class="inprow">
        <div class="inplabel">Content</div>
        <textarea id="BlogBio_New" name="BlogBio_New"></textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>

