﻿@model http5204_blog_aspcore.Models.Blog
@{
    ViewBag.Title = "Show";
}

<h2>@Model.BlogTitle</h2>
<h3>Written By @Model.Author.AuthorPenName</h3>
<div>
    @{  //variable declaration id (will put user auth id into here)
        int id = 0;
    }
    @{ 
        if ((bool)ViewData["IsUserBlogOwner"])
        {
            @Html.ActionLink("Edit", "Edit", "Blog", new {id=Model.BlogID});
        }

    }

</div>
<p>@Model.BlogBio</p>

<h3>Articles in @Model.BlogTitle</h3>
@if (id == Model.AuthorID)
{
    @Html.ActionLink("Make A Page!", "New", "Page")
}
@foreach (var page in Model.Pages)
{
    <span class="recitem">@Html.ActionLink(page.PageTitle, "Show", "Page", new { page.PageID})</span>
}
