﻿body {
}
.reccontainer{
    padding-top:30px;
    width:70%;
    margin:0 auto;
    padding:20px;
}
.rec {
    position: relative;
    margin-bottom: 15px;
    -webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 3px 3px #ccc;
    padding: 12px;
}
.recprofile{
    width:24%;
    margin-right:2%;
    float:left;
}
.recbody{
    width:74%;
    float:left;
}

.rec label{
    font-size:18px;
}
.rec label a:hover{
    text-decoration:none;
}

.rec .del{
    position:absolute;
    top:5px;
    right:5px;
}
.rec .del a{
    color:red;
}

.rec h2{
    margin-top:0px;
}
.recitem {
    display: block;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 5px;
}
.inprow{
    margin-bottom:5px;

}
.inprow input[type="text"], .inprow textarea{
    box-sizing:border-box;
    box-shadow:none;
    border:1px solid #e0e0e0;
    padding-left:3px;
}
.inprow input[type="submit"]{
    background:#fefefe;
    border:1px solid #e0e0e0;
    color:c3c3c3;
    margin-top:14px;
}
.inprow textarea{
    height:80px;
    width:400px;
}
.inplabel{
    font-size:16px;
    color:#212121;
    font-weight:bold;
    letter-spacing:.05em;
    margin-bottom:5px;
}

.colorbox{
    min-width:60px;
    padding:5px 5px;
    content:'';
    display:inline-block;
   
    text-align:center;
    color:#fff;
    line-height:16px;
}
.colorbox a, .colorbox a:hover, .colorbox a:active{
    text-decoration:none;
    color:#fff;
}
.pagecolumn{
    float:left;
    width:79%;
    margin-right:2%;
}
.authorcolumn{
    width:19%;
    float:left;
    margin-top:50px;
}
.pagecontent{
    background:#fff;
    margin: 0 auto;
    font-size:18px;
    margin-top:20px;
}
.pagecontent p{
    padding:7px;
    margin-bottom:14px;
}
.body-content{
    position:relative;
}
.recadd{
    margin-top:20px;
    font-size:20px;
}

.promptlink, .promptlinkleft{
    position:absolute;
    top:30px;
    right:15px;
    font-size:22px;
}
.promptlinkleft{
    right:auto;
    left:15px;
}

.banner{
    width:100%;
    height:200px;
    position:relative;
}
.banner h2 {
    font-size: 40px;
    position: absolute;
    text-align: center;
    left:0px;
    margin-left:auto;
    right:0px;
    margin-right:auto;
    top:0px;
    margin-top:auto;
    bottom:0px;
    margin-bottom:auto;
    height:40px;
}
#pagebanner{
    background-image:url(../images/bonding.jpg);
    background-attachment:scroll;
    background-position:50% 50%;
}
#pagebanner h2{
    color:#101010;
}

#blogbanner{
    background-image:url(../images/paint.jpeg);
    background-attachment:fixed;
    background-size:cover;
    background-position:50% 50%;
}
#blogbanner h2 {
    text-shadow: 1px 1px 2px grey;
}
#authorbanner{
    background-image:url(../images/glasses.jpg);
    background-size:cover;
    background-position: 50% 50%;
}
#tagbanner {
    background-image: url(../images/skate.jpg);
    background-size: cover;
    background-position: 52% 68%;
}
#authorbanner h2, #tagbanner h2 {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.img-container{
    /*
        cap images at square
        if you have access to an image library
        you can server side crop the images to a square
        instead.
    */
    width:100px;
    height:100px;
    overflow:hidden;
    border-radius:50%;
    position:relative;
}
.img-container img{
    width:100%;
}
 .img-caption{
    display:block;
    text-align:center;
    background:#7bb7b9;
    color:#fff;
    border-radius:2px;
    width:100px;
    margin-top:4px;
}
 .authoraltar{
     padding-top:40px;
 }
 .authoraltar .img-container{
     
     width:200px;
     height:200px;
     margin:0 auto;
 }
 .authoraltar h2{

     text-align:center;
 }

#searchkey {
    display: block;
    margin: 0 auto;
    border: 1px solid #ececec;
    padding: 5px 4px 5px 18px;
    -webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 3px 3px #ccc;
    max-width: none;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    width:100%;
    
}
#searchwrap {
    position: relative;
    padding: 5px;
    width: 65%;
    margin: 0 auto;
}
#searchform #search-mg,#headersearchcontainer #search-mg-header{
    position:absolute;
    font-size:36px;
    color:#ccc;
    right:20px;
    top:17px;
}
#headersearchcontainer #search-mg-header {
    font-size:15px;
}
#headersearchcontainer{
    /*usually would position absolute here but since the other items are floating.. sure
    */ 
    position:relative;
    float:left;
    margin-left: 56px;
    width:20%;
    padding-top:7px;
}
#headersearch{
    width:100%;
    padding: 6px 6px 6px 9px;


}
#paginate{margin-bottom:6px;}
#paginate a{font-size:18px;}

#headersearchlink{display:none;}

#authorname_subhead{display:none;}
.form-group label, .form-group .img-container, .form-group #authorimg{margin-left:15px;}
#logoutForm{position:absolute; top:10px; right:30px;}

.colorbox {
    color: white;
    float: left;
    width: 18%;
    margin: 0 1%;
    margin-bottom: 8px;
}

@media screen and (max-width:1150px){

    .reccontainer{width:90%; margin: 0 auto;}
}

@media screen and (max-width:1000px){
    #headersearchcontainer{margin-left:10px;}
    .reccontainer{width:100%; margin: 0;}
}


@media screen and (max-width:820px) {
    #headersearchcontainer {
        display: none;
    }

    #headersearchlink {
        display: block;
    }
}
    @media screen and (max-width:800px) {
        /*you can use 
        http://sandbox.bittsdevelopment.com/colcalc/
        for advanced column tricks
    */
        .colorbox {
            width: 30%;
            margin: 10px 1.65%;
        }

        h2{font-size:22px;}
    }
    /*Responsive design*/

    @media screen and (max-width: 540px) {
        #authorname_subhead {
            display: block;
        }

        .recprofile {
            display: none;
        }
        .inprow textarea {width:100%;}
    }
    @media screen and (max-width:600px){
        .pagecolumn, .authorcolumn{width:100%; float:none; margin-bottom:20px;}
        .promptlink {display:block; font-size:16px;}

    }
    @media screen and (max-width:500px) {

        .colorbox {
            width: 48%;
            margin: 8px 1%;
        }
    }

    @media screen and (max-width:400px) {
        /*
        important is used here because it's a class level declaration
        whereas the background image is set as an id somewhere else
        don't use important if you don't have to
    */
        .promptlink{position:relative;margin-bottom:10px;top:auto;right:auto;}
        .banner {
            background: none;
            background-image: none !important;
            height: 100px;
        }

            .banner h2 {
                font-size: 27px;
                position: relative;
                padding-top: 50px;
                padding-bottom: 0px;
                margin: 0;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                height: auto;
            }

            .banner h2 {
                color: black !important;
                text-shadow: none !important;
            }

        .colorbox {
            width: 100%;
            margin: 5px 0;
        }
    }