﻿@model IEnumerable<http5204_blog_aspcore.Models.Author>

@{
    ViewBag.Title = "Index";
}
<div class="banner" id="authorbanner">
    <h2>Authors</h2>
</div>
<div class="recadd">
    @{
        //check if the user is an author or not.
        //UserState
        //0 => No User
        //1 => has user has no author
        switch (ViewData["UserState"])
        {
            case 0: @Html.ActionLink("Register An Account", "Register", "Account") break;
            case 1: @Html.ActionLink("Join Us!", "Create", "Author") break;
        }
    }
    

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorPenName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorPenName)
        </td>


        <td>
            @if (item.AuthorID == (int)ViewData["UserAuthorID"]) {
                @Html.ActionLink("Edit", "Edit", new { id = item.AuthorID })
                @Html.Raw(" | ")
            }
            @Html.ActionLink("Details", "Details", new { id=item.AuthorID })
            @if(item.AuthorID == (int)ViewData["UserAuthorID"])
            {
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new { id=item.AuthorID })
            }
            </td>


        </tr>
}

</table>
